CapaGUI/Connected Services/ServiceRol/WebServiceRol.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WebListar">
        <s:complexType />
      </s:element>
      <s:element name="WebListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebListarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WebListarSoapIn">
    <wsdl:part name="parameters" element="tns:WebListar" />
  </wsdl:message>
  <wsdl:message name="WebListarSoapOut">
    <wsdl:part name="parameters" element="tns:WebListarResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceRolSoap">
    <wsdl:operation name="WebListar">
      <wsdl:input message="tns:WebListarSoapIn" />
      <wsdl:output message="tns:WebListarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceRolSoap" type="tns:WebServiceRolSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebListar">
      <soap:operation soapAction="http://tempuri.org/WebListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceRolSoap12" type="tns:WebServiceRolSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebListar">
      <soap12:operation soapAction="http://tempuri.org/WebListar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceRol">
    <wsdl:port name="WebServiceRolSoap" binding="tns:WebServiceRolSoap">
      <soap:address location="https://localhost:44353/WebServiceRol.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceRolSoap12" binding="tns:WebServiceRolSoap12">
      <soap12:address location="https://localhost:44353/WebServiceRol.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>