CapaGUI/Connected Services/ServiceIngreso/WebServiceIngreso.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WebListar">
        <s:complexType />
      </s:element>
      <s:element name="WebListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebListarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebBuscar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebBuscarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebBuscarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebConsultaFechas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="FechaFin" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebConsultaFechasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebConsultaFechasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebListarDetalle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebListarDetalleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebListarDetalleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebInsertar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdProveedor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoComprobante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SerieComprobante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumComprobante" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Impuesto" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Detalles">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebInsertarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebInsertarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebAnular">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebAnularResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebAnularResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WebListarSoapIn">
    <wsdl:part name="parameters" element="tns:WebListar" />
  </wsdl:message>
  <wsdl:message name="WebListarSoapOut">
    <wsdl:part name="parameters" element="tns:WebListarResponse" />
  </wsdl:message>
  <wsdl:message name="WebBuscarSoapIn">
    <wsdl:part name="parameters" element="tns:WebBuscar" />
  </wsdl:message>
  <wsdl:message name="WebBuscarSoapOut">
    <wsdl:part name="parameters" element="tns:WebBuscarResponse" />
  </wsdl:message>
  <wsdl:message name="WebConsultaFechasSoapIn">
    <wsdl:part name="parameters" element="tns:WebConsultaFechas" />
  </wsdl:message>
  <wsdl:message name="WebConsultaFechasSoapOut">
    <wsdl:part name="parameters" element="tns:WebConsultaFechasResponse" />
  </wsdl:message>
  <wsdl:message name="WebListarDetalleSoapIn">
    <wsdl:part name="parameters" element="tns:WebListarDetalle" />
  </wsdl:message>
  <wsdl:message name="WebListarDetalleSoapOut">
    <wsdl:part name="parameters" element="tns:WebListarDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="WebInsertarSoapIn">
    <wsdl:part name="parameters" element="tns:WebInsertar" />
  </wsdl:message>
  <wsdl:message name="WebInsertarSoapOut">
    <wsdl:part name="parameters" element="tns:WebInsertarResponse" />
  </wsdl:message>
  <wsdl:message name="WebAnularSoapIn">
    <wsdl:part name="parameters" element="tns:WebAnular" />
  </wsdl:message>
  <wsdl:message name="WebAnularSoapOut">
    <wsdl:part name="parameters" element="tns:WebAnularResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceIngresoSoap">
    <wsdl:operation name="WebListar">
      <wsdl:input message="tns:WebListarSoapIn" />
      <wsdl:output message="tns:WebListarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebBuscar">
      <wsdl:input message="tns:WebBuscarSoapIn" />
      <wsdl:output message="tns:WebBuscarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebConsultaFechas">
      <wsdl:input message="tns:WebConsultaFechasSoapIn" />
      <wsdl:output message="tns:WebConsultaFechasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebListarDetalle">
      <wsdl:input message="tns:WebListarDetalleSoapIn" />
      <wsdl:output message="tns:WebListarDetalleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebInsertar">
      <wsdl:input message="tns:WebInsertarSoapIn" />
      <wsdl:output message="tns:WebInsertarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebAnular">
      <wsdl:input message="tns:WebAnularSoapIn" />
      <wsdl:output message="tns:WebAnularSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceIngresoSoap" type="tns:WebServiceIngresoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebListar">
      <soap:operation soapAction="http://tempuri.org/WebListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebBuscar">
      <soap:operation soapAction="http://tempuri.org/WebBuscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebConsultaFechas">
      <soap:operation soapAction="http://tempuri.org/WebConsultaFechas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebListarDetalle">
      <soap:operation soapAction="http://tempuri.org/WebListarDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebInsertar">
      <soap:operation soapAction="http://tempuri.org/WebInsertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAnular">
      <soap:operation soapAction="http://tempuri.org/WebAnular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceIngresoSoap12" type="tns:WebServiceIngresoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebListar">
      <soap12:operation soapAction="http://tempuri.org/WebListar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebBuscar">
      <soap12:operation soapAction="http://tempuri.org/WebBuscar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebConsultaFechas">
      <soap12:operation soapAction="http://tempuri.org/WebConsultaFechas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebListarDetalle">
      <soap12:operation soapAction="http://tempuri.org/WebListarDetalle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebInsertar">
      <soap12:operation soapAction="http://tempuri.org/WebInsertar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAnular">
      <soap12:operation soapAction="http://tempuri.org/WebAnular" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceIngreso">
    <wsdl:port name="WebServiceIngresoSoap" binding="tns:WebServiceIngresoSoap">
      <soap:address location="https://localhost:44353/WebServiceIngreso.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceIngresoSoap12" binding="tns:WebServiceIngresoSoap12">
      <soap12:address location="https://localhost:44353/WebServiceIngreso.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>